/* ==UserStyle==
@name Phanpy Tweaks
@description A handful of adjustments to Phanpy.Social, a third-party client for Mastodon.
@author Chris Lowles
@version 2025.6.19
@updateURL https://raw.githubusercontent.com/chrislowles/userstyles/main/phanpy-tweaks.user.css
==/UserStyle== */

@-moz-document domain("phanpy.social") {
	#compose-container .status-preview {
	  max-height: unset !important;
	}
	#generic-accounts-container .accounts-list li {
		flex-basis: 100%;
	}
	.embed-modal-container .embed-content iframe {
	  width: max(var(--width), 1920px);
	}
}